* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: Poppins;
}

.about {
    max-width: 1440px;
    background: linear-gradient(to right, rgb(121, 197, 220), rgba(190, 222, 222, 0.904));
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
}