*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body-calculatrice {
    background: linear-gradient(to right, #00AAFF, #00FF6C);
    height: 100vh;
    
}

.calculator-grid {
    display: grid;
    justify-content: center;
    padding-top: 50px;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: minmax(7rem, auto) repeat(5, 6rem)
    //ici le minmax sert a gerer la hauteur des cases lorsque le chiffre est tres grand dans la calculatrice
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}

.calculator-grid > button:hover, 
.calculator-grid > button:focus {
    background-color: rgba(255, 255, 255, .95);
}


.span-two{
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    //pour center l'output en haut (qu'il prenne touutes les colonnes de la ligne 1)
    background-color: rgba(0, 0, 0, .35);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: .75rem;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.2rem;

}

.output .current-operand {
    color: white;
    font-size: 2.2rem;
}
