@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: Poppins;
}

.home {
    max-width: 1440px;
    background: linear-gradient(to right, rgb(194, 189, 180), rgba(125, 226, 216, 0.904));
    margin-left: auto;
    margin-right: auto;
}