.filter {
    height: 35px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    &__input {
        border: 2px solid rgb(56, 13, 13);
        text-align: center;
        border-radius: 50px;
        outline: none;
        &:focus{
            border: 2px solid rgb(173, 153, 34);
        }
    }
}