.navBar {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 200px;
    &__logo{
        margin-top: 115px;
        margin-right: auto;
        width: 260px;
        height: 190px;
        background: url("https://cdn.dribbble.com/users/2442115/screenshots/8699490/dec-01-2019_19-16-16.gif");
        border-radius: 48%;
        background-size : cover;
        background-color: green;
    }
    &__links{
        display: flex;
        
    }
    &__link{
        margin-left: 25px;
        padding: 10px;
        border-radius: 30px;
        background-color: black;
        color: white;

    }
}

.active{
    background-color: rgb(40, 107, 121);
    box-shadow: 2px 2px 15px gold;
}
.non_active {
    background-color: rgba(13, 52, 58, 0.784);
    box-shadow: none;
}